@font-face {
    font-family: 'Roboto';
    src: url('./RobotoMono-VariableFont_wght.ttf');
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
.div_org{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}
.texto{
    text-align: justify;
    font-family: 'Roboto' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}
.api_link{
    color: rgb(221, 55, 55);
}
.api_link:visited{
    color: rgb(221, 55, 55);
}

@media (max-width:900px) and (min-width:500px){
    .texto{
        font-size: medium;
    }
    .div_org{
        width: 70vw;
    }
}
@media (max-width:499px){
    .texto{
        font-size: small;
    }
    .div_org{
        width: 80vw;
    }
}