@font-face {
    font-family: 'Right';
    src: url('./Righteous-Regular.ttf');
}
.div_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    margin-top: 5vh;
    width: 50vw;
    -webkit-box-shadow: 1px 2px 10px 5px rgba(196, 193, 193, 0.664); 
    box-shadow: 1px 2px 10px 5px rgba(196, 193, 193, 0.664);
}
.h2_search{
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 15px;
    font-family: 'Right','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.align_div{
    display: flex;
    column-gap: 5px;
    margin-bottom: 15px;
    height: 30px;
}
.search_button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    background-color:  rgb(185, 51, 51);
    color: white; 
    font-size: large;
    height: 30px;
    width: 30%;
    margin-right: 5px;
}
.search_button:hover{
    cursor: pointer;
    background-color:  orange;
    color: black;
}
.input_search{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    width: 60%;
    margin-left: 5px;
}

@media (max-width: 600px){
    .h2_search{
        font-size: medium;
    }
    .search_button{
        font-size: small;
        width: 30%;
    }
    .input_search{
        font-size: small;
        width: 60%;
    }
}